@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-dimmed-rgb: 40, 40, 40;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green-rgb: 26, 184, 47;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-dimmed-rgb: 210, 210, 210;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --green-rgb: 26, 184, 47;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul > a,
button {
  color: rgb(var(--foreground-rgb));
}

a {
  color: rgb(var(--foreground-dimmed-rgb));
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

button {
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  transform: scale(1.1);
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: rgb(var(--foreground-rgb));
  border-radius: 50%;
  cursor: pointer;
}

.effect-1,
.effect-2 {
  overflow: hidden;
}
